<div *ngIf ="!Show">
    <h1>Account List</h1>    
</div>
<div draggable="true" (drop)="Distrue()" (ondragover)="prevent($event)" >
    <h2>Account 3361632362</h2>    
</div>
<div draggable="true" (drop)="Distrue()" (ondragover)="prevent($event)">
    <h2>Account 3258186214</h2>    
</div>
<div draggable="true" (drop)="Distrue()" (ondragover)="prevent($event)" >
    <h2>Account 3258050347</h2>    
</div>
<div draggable="true" (drop)="Distrue()" (ondragover)="prevent($event)">
    <h2>Account 3191000331</h2>    
</div>
<!-- The Modal -->
<div *ngIf="dis" id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="Disfalse()">&times;</span>
    <label for="type">Enter the amount</label>
    <input type="text" style="padding-left:2px" name="amountTransfer" value="" #amo/>
    <input type="button" value="Transfer" (click)="Disfalse()">
  </div>
</div>
